.dotted-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
  }
  
  .dotted-li {
    display: inline-block;
    list-style: none;
    height: 12px;
    width: 12px;
    background: black;
    border-radius: 100%;
    margin: 0 0.2em;
    animation: anm 1s linear infinite alternate;
  }
  
  @keyframes anm {
    0% {
      transform: scale(0.1);
      filter: hue-rotate(0deg);
      opacity: 0;
    }
    50% {
      transform: scale(0.4);
    }
    100% {
      transform: scale(1);
      filter: hue-rotate(360deg);
    }
  }
  
  .dotted-li:nth-child(2) {
    animation-delay: 0.4s;
  }
  
  .dotted-li:nth-child(3) {
    animation-delay: 0.8s;
  }
  